@import '~antd/dist/antd.css';


.logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);  
    margin: 16px 28px 16px 0;
    float: left;
    color: white;

    a{
        line-height: 20px;
        margin: 5px 0 0 8px;
        position: absolute;
    }
}

.ant-row{
    padding-bottom: 10px;
}

.form-wrapper{
    height: 900px;

    .editor-wrapper{
        min-height: 300px;
        border-radius: 5px;
        border: gainsboro solid 1px;
        padding: 2px;
        width: 95%;
    }

    .text-editor-wrapper{
        min-height: 50%;
    }
}